@import "~bootstrap/dist/css/bootstrap.min.css";
*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(232deg, #3CD32C, #04B896);
  background-size: 400% 400%;
  -webkit-animation: grupo4 3s ease infinite;
  -moz-animation: grupo4 2s ease infinite;
  animation: grupo4 2s ease infinite;
}*/

body{
  display: flex;
  align-content: center;
  justify-content: center;
  height: 60vh;
  font-family: Arial, Helvetica, sans-serif;

  background-size: 400% 400%;
}
@-webkit-keyframes grupo4 {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes grupo4 {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes grupo4 {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.form-body {
  width: 400px;
  min-width: 300px;
  border-radius: 10px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border: solid 5px black;
  margin: 10px;
}

.form-body img {
  width: 150px;
  display: block;
  margin: 20px auto;
}

.form-body input {
  display: block;
  margin: auto;
  height: 40px;
  width: 75%;
  padding-left: 10px;
  color: #14DC14;
  border: 1px solid #14DC14;
  border-radius: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: transparent;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 1rem;
  outline: none;
}

.form-body input[type="password"] {
  margin-top: 20px;
}

::placeholder {
  font-size: 1rem;
  color: #14DC14;
}

.form-body input:hover {
  transition: .5s;
  border: 1px solid #2C9ED3;
  color: #3CD32C;
}

.form-body button {
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 30px;
  height: 40px;
  width: 78%;
  background: transparent;
  color: #14DC14;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  border: 2px solid #3CD32C;
  transition: all .5s ease;
}

.form-body button:hover {
  color: #ffffff;
  border: 2px solid #3CD32C;
  background: linear-gradient( #3CD32C, #2C9ED3);
}

.round-border {
  border-radius: 2px !important;
  border-top-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}


.titulo-txt{
  text-align: center;
  color: #3CD32C;
  font-size: 35px;
}



.alerta {
  display: block;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 30px;
  text-align: center !important;
  width: 300px !important;
}

.text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #3CD32C;
  margin-bottom: 25px;
}
