@import "~bootstrap/dist/css/bootstrap.min.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(232deg, #3CD32C, #2C9ED3);
  background-size: 400% 400%;


  -webkit-animation: bgAnimateBitcoin 5s ease infinite;
  -moz-animation: bgAnimateBitcoin 5s ease infinite;
  animation: bgAnimateBitcoin 5s ease infinite;
}

.form-body {
  width: 400px;
  min-width: 300px;
  border-radius: 10px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border: solid 5px #FFFFFF;
  margin: 10px;

}

.form-body img {
  width: 150px;
  display: block;
  margin: 20px auto;
}



.form-body input {
  display: block;
  margin: auto;
  height: 40px;
  width: 75%;
  padding-left: 10px;
  color: #FFFFFF;
  border: 1px solid #fff;
  border-radius: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: transparent;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 1rem;
  outline: none;
}

.form-body input[type="password"] {
  margin-top: 20px;
}

::placeholder {
  font-size: 1rem;
  color: #FFFFFF;
}

.form-body input:hover {
  transition: .5s;
  border: 1px solid #2C9ED3;
  color: #3CD32C;
}

.form-body button {
  display: block;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 30px;
  height: 40px;
  width: 78%;
  background: transparent;
  color: #ffffff;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  border: 2px solid #3CD32C;
  transition: all .5s ease;
}

.form-body button:hover {
  color: #ffffff;
  border: 2px solid #3CD32C;
  background: linear-gradient( #3CD32C, #2C9ED3);
}

.prueba {
  border-radius: 2px !important;
  border-top-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.alerta {
  display: block;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 30px;
  text-align: center !important;
  width: 300px !important;
}

@-webkit-keyframes bgAnimateBitcoin {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes bgAnimateBitcoin {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes bgAnimateBitcoin {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
.text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #FFFFFF;
  margin-bottom: 25px;
}
