<div class="container">
  <div class="row">
    <div class="col-md-12 mt-4">
      <h1>Sedes</h1>
        <div class="table-responsive">
        <table class="table mt-5">
          <thead class="table-dark">
            <tr>
              <th>Sede</th>
              <th>Direccion</th>
              <th>Municipio</th>
              <th>Departamento</th>
              <th>Clinica</th>
              <th>Especialidad</th>
              <th>Especialista</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ciudad de Guatemala</td>
              <td>Guatemala</td>
              <td>Villa Nueva</td>
              <td>Guatemala</td>
              <td>Clinica X</td>
              <td>Dato 1</td>
              <td>Dato 2</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="mt-5">
        <p>
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Crear Sede
          </button>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <form>
              <div class="row">
                <div class="col">
                  <label for="inputSede">Sede</label>
                  <input type="text" class="form-control" id="inputSede">
                </div>
                <div class="col">
                  <label for="inputDireccion">Direccion</label>
                  <input type="text" class="form-control" id="inputDireccion">
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 mt-2">
                  <label for="inputMunicipio">Municipio</label>
                  <input type="text" class="form-control" id="inputMunicipio">
                </div>
                <div class="col-md-3 mt-2">
                  <label for="inputDepartamento">Departamento</label>
                  <input type="text" class="form-control" id="inputDepartamento">
                </div>
                <div class="col-md-3 mt-2">
                  <label for="inputClinica">Clinica</label>
                  <input type="text" class="form-control" id="inputClinica">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-4 mt-2">
                  <label for="inputEspecialidad">Especialidad</label>
                  <select id="inputEspecialidad" class="form-control">
                    <option selected>Choose...</option>
                    <option>Dato 1</option>
                    <option>Dato 2</option>
                    <option>Dato 3</option>
                  </select>
                </div>
                <div class="form-group col-md-4 mt-2">
                  <label for="inputEspecialista">Especialista</label>
                  <select id="inputEspecialista" class="form-control">
                    <option selected>Choose...</option>
                    <option>Nombre 1</option>
                    <option>Nombre 2</option>
                    <option>Nombre 3</option>
                  </select>
                </div>
              </div>
              <br>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>