<div class="respmenu">

  <h1>Administracion de Roles </h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Tipo de Rol</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
    </tr>
    </tbody>
  </table>
  <button (click)="crearRol()" type="button" class="btn btn-primary">Crear Rol</button>
  <div align="right"> <img src="https://i.pinimg.com/736x/4e/6e/86/4e6e86ca3a4293bd73055a26c4ab3635.jpg"></div>
</div>
