
<body>
<div class="respmenu">
<h1>Administracion</h1>
  <i class="fas fa-bars"></i>
  <i class="fas fa-times"></i>
  <nav>
    <ul>
      <li><a href="#">Clientes</a></li>
      <li><a href="#">Especialistas</a></li>
      <li><a href="#">Especialidades</a></li>
      <li><a href="#">Sedes</a></li>
      <li><a href="#">Facturas</a></li>
      <li><a href="#">Estados</a></li>
      <li><a href="#">Tipo de Identidad</a></li>
      <li><a href="#">Direcciones</a></li>
      <li><a href="#">Roles</a></li>
      <li><a href="#">Terapias</a></li>
    </ul>
  </nav>
</div>
<div align="right"> <img src="https://i.pinimg.com/736x/4e/6e/86/4e6e86ca3a4293bd73055a26c4ab3635.jpg"></div>



</body>


